[submodule "themes/hugo-nuo"]
  path = themes/hugo-nuo
  url = https://github.com/tgrk/hugo-nuo
[submodule "themes/hugo-story"]
	path = themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story.git
